* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    
}
img{
    width: 100%;
}

#container {
    width: 65%;
    display: flex;
    margin: auto;
    border: 1px solid black;
    justify-content: space-between;
    margin-top: 20px;

}

#first {
    width: 66%;
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#first-one{
    border: 1px solid black;
    padding:2%;
}





#second {
    width: 30%;
    border: 1px solid red;
    height: 500px;

}