#footerM{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background: #01040d;
}
#footerM a{
    color: white;
    text-decoration: none;
}
#footerM b{
    font-size: 20px;
}
#footerM p{
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 10px;
    margin-right: 40px;
}
.heading{
    color: #787677 ;
    font-weight: bold;
    margin: 10px 0px;
    font-size: 14px;
    margin-top: 20px;
}

#main{
    width: 65%;
    margin: auto;
    border: 1px solid transparent;
}
.body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid rgb(128, 128, 128);
    padding-top: 20px;
    
}

#border-bottom{
    border-bottom: 1px solid rgb(128, 128, 128);
    margin-bottom: 20px;
}
#border-top{
    border-top: 1px solid rgb(128, 128, 128);
    margin-top: 20px;
}


.social-media{
    display: flex;
    width: 70%;
}
.social-media img{
    width: 30px;
    margin-right: 10px;
}

#footerLast{
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
}

#footerLast>div:first-child,
#footerLast>div:last-child{
    width: 30%;
}
#footerLast>div:nth-child(2){
    width: 60%;
    border-left: 1px solid rgb(128, 128, 128);
    border-right: 1px solid rgb(128, 128, 128);
    padding-left: 20px;

}

#newsguard{
    display: flex;   
}

#last-divtow{
    display: flex;
}

#Lastt{
    margin-left: 20px;
}
