body{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
/* **********************************************navbar**start********************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background: #efefef; */
  width: 100%;
}

#language {
  background: rgb(198, 197, 197);
  background: #dad8d9;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: .9vw;
  width: auto;
  color: black;
}

#language>a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 8px;
}

#language>a:first-child {
  border-top: 3px solid red;
}

/* logo */

#logo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}



#logo>div:first-child,
#logo>div:last-child {
  width: 80px;
}

#logo>div:first-child>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

}

#logo>div:first-child>div>a>img {
  width: 80%;
}

#logo>div:first-child {
  text-align: center;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

#logo>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo>div:nth-child(2)>img {
  width: 100%;
}


/* menubar */
#navbar {
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
}

#navbar {
  position: sticky;
  top: -1px;
}


.navLogo {
  width: 3%;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLogo>img {
  width: 70%;
  margin: auto;
  

}

#names {
  display: flex;
  justify-content: center;
  align-items: center;
}

#names>a {
  color: white;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: .9vw;
  margin: 10px 1px;
}

#names>a:nth-child(12) {
  background: #ffc300;
  color: black;
  padding: 0px 15px;
  border-radius: 15px;
  margin: 0px 10px;

}

#names>a:nth-child(12):hover {
  border-bottom: none;
}

#names>a {
  border: 3px solid transparent
}

#names>a:hover {
  border-bottom: 3px solid red;
}

@media all and (min-width: 500px) and (max-width: 1024px) {
  #navbar>div:nth-child(2) {
      font-size: 1.5vw;
  }
}




* {
  box-sizing: border-box;
}
.openBtn {
  background: #828282;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(88, 88, 88, 0.5);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 30px;

}

.overlay .closebtn {
  position: absolute;
  top: -50px;
  left: 0px;

  font-size: 30px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
  border-radius: 5px 0px 0px 5px;
  height: 55px;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: rgb(0, 0, 0);
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  height: 55px;
}
/* #myOverlay{
    display: none ;
} */

.overlay button:hover {
  background: rgb(55, 55, 55);
}
.overlay-content button{
    color: white;
}
/* *********************************************navbar***end****************************************** */
body>div:nth-child(3){
  width: 65%;
  margin: auto;
}
body>div:nth-child(3)>div:nth-child(1){
  display: flex;
  align-items: center;
}
body>div:nth-child(3)>div:nth-child(1)>a{
  color: #b2412f;
  text-decoration: none;
  margin-right: 5px;
}
h1{
  font-weight: lighter;
  margin-top: 0px;
}

body>div:nth-child(3)>div:nth-child(3)>img{
  width: 50px;
}

body>div:nth-child(3)>div:nth-child(4){
  border-bottom: 2px solid rgb(191, 191, 191);
  width: 66%;
}
body>div:nth-child(3)>div:nth-child(4)>h3{
  width: fit-content;
  padding: 0px 5px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
body>div:nth-child(3)>h2:nth-child(5){
  font-weight: lighter;
  border-bottom: 1px solid rgb(191, 191, 191);
  width: 66%;
}

body>div:nth-child(3)>div:nth-child(6){
  display: flex;
  justify-content: space-between;
}
#lnews{
  width: 70%;
  margin-right: 10px;
}
#lnews>div{
  display: flex;
  justify-content: space-between;
  gap: 0px;
  border-bottom: 1px solid rgb(191, 191, 191);
  margin-top: 10px;
}
#lnews>div>div:nth-child(1){
  width: 40%;
}
#lnews>div>div:nth-child(1)>img{
  width: 100%;
}
#lnews>div>div:nth-child(2){
  width: 60%;
  margin-left: 10px;
}
#lnews>div>div:nth-child(2)>h3{
  margin-top: 0px;
}
#lnews>div>div:nth-child(2)>h3:hover{
  color: #b2412f;
}
#lnews>div>div:nth-child(2)>p{
  font-size: small;
  color: rgb(85, 85, 85);
}

#rnews{
  width: 35%;
}
#rnews>p{
  border-bottom: 1px solid rgb(191, 191, 191);
}
#rnews>div{
  display: flex;
  background-color: #f6f6f6;
  margin-bottom: 5px;
}
#rnews>div>div:nth-child(1){
  width: 40%;
  margin: 0px 10px;
  padding: 10px 0px;
}
#rnews>div>div:nth-child(1)>img{
  width: 100%;
}
#rnews>div>div:nth-child(2){
  width: 60%;
}
#rnews>div>div:nth-child(2)>h6{
  margin-top: 10px;
  margin-bottom: 0px;
  color: #b2412f;
}
#rnews>div>div:nth-child(2)>p{
  font-size: 90%;
  margin-top: 5px;
}
#rnews>div>div:nth-child(2)>p:hover{
  color: #b2412f;
}

/* ****************************************** */

#breakingtitle{
  width: 65%;
  margin: 10px auto;
  display: flex;
  /* justify-content: space-between; */
 
  /* align-items: center; */
padding: -10px;
}
#title{

  background-color: red;
  color: white;
  padding: 10px;
  font-weight: bolder;
}

#increase{
font-size: xx-large;
font-weight: bolder;
  background-color: white;
  color: red;
  /* padding: 10px; */
 border: none;

 /* box-sizing: border-box; */
 display: relative;
 
 
}
/* #pause{
  font-size: xx-large;
  font-weight: bolder;
  background-color: white;
  color: red;
  border: none;
} */
#decrease{
font-size: xx-large;
font-weight: bolder;
  background-color: white;
  color: red;
  /* padding: 10px; */
 border: none;

 /* box-sizing: border-box; */
 display: relative;

}
#breakingnews{
  width: 85%;
  display: flex;
  border: 1px solid red;
  font-weight: bold;
  /* box-sizing: border-box; */
  
  justify-content: space-between;
}
#content{
  /* position: relative; */
  width: 85%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************footer******************************** */
#footerM{
  background-color: black;
}
#footerM a{
  color: white;
  text-decoration: none;
}
#footerM b{
  font-size: 20px;
}
#footerM p{
  font-size: 13px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-right: 40px;
}
.heading{
  color: #787677 ;
  font-weight: bold;
  margin: 10px 0px;
  font-size: 14px;
  margin-top: 20px;
}

#main{
  width: 65%;
  margin: auto;
  border: 1px solid transparent;
}
.body{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid rgb(128, 128, 128);
  padding-top: 20px;
  
}

#border-bottom{
  border-bottom: 1px solid rgb(128, 128, 128);
  margin-bottom: 20px;
}
#border-top{
  border-top: 1px solid rgb(128, 128, 128);
  margin-top: 20px;
}


.social-media{
  display: flex;
  width: 70%;
}
.social-media img{
  width: 30px;
  margin-right: 10px;
}

#footerLast{
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
}

#footerLast>div:first-child,
#footerLast>div:last-child{
  width: 30%;
}
#footerLast>div:nth-child(2){
  width: 60%;
  border-left: 1px solid rgb(128, 128, 128);
  border-right: 1px solid rgb(128, 128, 128);
  padding-left: 20px;

}

#newsguard{
  display: flex;   
}

#last-divtow{
  display: flex;
}

#Lastt{
  margin-left: 20px;
}

