
* {
  font-family: Roboto, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#container1 {
  width: 65%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
 
}
.abovehead {
  margin-bottom: 20px;
  font-size: 15px;
}
table {
  width: 100%;
  margin: auto;
  font-size: 14px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
a {
  text-decoration: none;
  color: black;
}
.background {
  background: url(https://images.indianexpress.com/2022/05/diabetes.jpg?w=900)
    no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  margin-top: 20px;
  position: relative;

}
.insideback {
  position: absolute;
  width: 50%;
  top: 71%;
  left: 2%;
  background-color: white;
  padding: 20px;
}
.insideback > h1 {
  width: 90%;
  /* margin-left: 20px; */
  font-size: 30px;
  font-weight: bold;
}
/* Grid page styling starts */
#gridpage {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto);
  gap: 30px;
  margin-top: 20px;
}
#gridpage > div {
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
  cursor: pointer;
  margin-top: 10px;
}
#gridpage > div > img {
  width: 100%;
}
#gridpage > div > p {
  font-size: 18px;
  margin-top: 15px;
  line-height: 26px;
}
#gridpage > div > p:hover {
  color: #ff6000;
}
/* navbar */
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}



#language {
background: rgb(198, 197, 197);
background: #dad8d9;
font-family: Roboto, sans-serif;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
font-size: .9vw;
width: auto;
color: black;
}

#language>a {
text-decoration: none;
color: black;
font-weight: bold;
margin: 8px;
}

#language>a:first-child {
border-top: 3px solid red;
}

/* logo */

#logo {
display: flex;
justify-content: space-between;
padding: 20px;
}



#logo>div:first-child,
#logo>div:last-child {
width: 80px;
}

#logo>div:first-child>div {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;

}

#logo>div:first-child>div>a>img {
width: 80%;
}

#logo>div:first-child {
text-align: center;
font-weight: bold;
font-family: Roboto, sans-serif;
font-size: 15px;
}

#logo>div:nth-child(2) {
display: flex;
flex-direction: column;
align-items: center;
}

#logo>div:nth-child(2)>img {
width: 100%;
}


/* menubar */
#navbar {
background: #1f1f1f;
display: flex;
justify-content: space-between;
}

#navbar {
position: sticky;
top: -1px;
z-index: 1
}


.navLogo {
width: 3%;
margin: 0px 10px;
display: flex;
justify-content: center;
align-items: center;
}

.navLogo>img {
width: 70%;
margin: auto;

}

#names {
display: flex;
justify-content: center;
align-items: center;
}

#names>a {
color: white;
text-decoration: none;
font-family: Roboto, sans-serif;
font-weight: bold;
font-size: .9vw;
margin: 10px 1px;
}

#names>a:nth-child(12) {
background: #ffc300;
color: black;
padding: 0px 15px;
border-radius: 15px;
margin: 0px 10px;

}

#names>a:nth-child(12):hover {
border-bottom: none;
}

#names>a {
border: 3px solid transparent
}

#names>a:hover {
border-bottom: 3px solid red;
}

@media all and (min-width: 500px) and (max-width: 1024px) {
#navbar>div:nth-child(2) {
  font-size: 1.5vw;
}
}
.openBtn {
  background: #828282;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(88, 88, 88, 0.5);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 30px;

}

.overlay .closebtn {
  position: absolute;
  top: -50px;
  left: 0px;

  font-size: 30px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
  border-radius: 5px 0px 0px 5px;
  height: 55px;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: rgb(0, 0, 0);
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  height: 55px;
}
/* #myOverlay{
    display: none ;
} */

.overlay button:hover {
  background: rgb(55, 55, 55);
}
.overlay-content button{
    color: white;
}
/* navbar complete */
/* grid page styling ends */
/* footer starts here */
#footerM a{
color: white;
text-decoration: none;
}
#footerM b{
font-size: 20px;
}
#footerM p{
font-size: 13px;
margin-top: 6px;
margin-bottom: 10px;
margin-right: 40px;
}
.heading{
color: #787677 ;
font-weight: bold;
margin: 10px 0px;
font-size: 14px;
margin-top: 20px;
}

#main{
width: 65%;
margin: auto;
border: 1px solid transparent;
}
.body{
display: grid;
grid-template-columns: repeat(4, 1fr);
border-top: 1px solid rgb(128, 128, 128);
padding-top: 20px;

}

#border-bottom{
border-bottom: 1px solid rgb(128, 128, 128);
margin-bottom: 20px;
}
#border-top{
border-top: 1px solid rgb(128, 128, 128);
margin-top: 20px;
}


.social-media{
display: flex;
width: 70%;
}
.social-media img{
width: 30px;
margin-right: 10px;
}

#footerLast{
border: 1px solid transparent;
display: flex;
justify-content: space-between;
}

#footerLast>div:first-child,
#footerLast>div:last-child{
width: 30%;
}
#footerLast>div:nth-child(2){
width: 60%;
border-left: 1px solid rgb(128, 128, 128);
border-right: 1px solid rgb(128, 128, 128);
padding-left: 20px;

}

#newsguard{
display: flex;   
}

#last-divtow{
display: flex;
}

#Lastt{
margin-left: 20px;
}
#containertogiveback{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Roboto, sans-serif;
background: #01040d;
margin-top: 50px;
}
.loadmore {
  font-weight: 700;
  font-size: 13px;
  padding: 10px;
margin-left: 70%;

  
}
.loadmore>button{
  padding: 2px 5px;
  background-color: transparent;
  border: 1px solid grey;
  font-weight: 700;
  margin-right: 2px;
}
.loadmore>button:hover{
  cursor: pointer;
  background-color: grey;
  color: white;
}
@media all and (min-width: 320px) and (max-width: 840px) {
    #container1 {
        width: 100%;
        margin: auto;
        margin-top: 10px;
      }
     
      .insideback {
        top: 60%;
      }
      table {
        display: flex;
       flex-wrap: wrap;
       font-size: 11px;
      }
      #gridpage {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto);
        gap: 20px;
     
      }
        
}